{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Portal</title>
    <link rel="icon" href="/static/Assets/apogee-favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@100&family=Nanum+Gothic&family=Rubik:wght@300&display=swap"
            rel="stylesheet">
</head>

<body>
<div class="nav fixedTop">
    <div>
        <img src="/static/Assets/download.png" alt="">
    </div>
</div>
<div class="portalMain">
    <div class="title">
        EVENT CERTIFICATE PORTAL
    </div>
    <div class="instructions">
        INSTRUCTIONS
    </div>
    <div class="template">
        <a href="/static/Assets/Winners.xlsx" download="">Download Template.</a>
    </div>
    <div class="instruct">
        1.) Download the Template file from the given box. <br>
        2.) Enter your details and Upload the Excel sheet in this required format in the given field. <br>
        3.) Click on your required Certificate Type to generate your certificate.
    </div>
    <div id="formSection">
        <section class="formBox">
            <form name="getCerti" method="post" class="certiForm" enctype="multipart/form-data" action="{% url 'CertPortal:download' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div id="fileUpload">
                    <label for="upload" id="fileLabel">
                        <input type="file" name="excel_file" id="upload" accept=".xls,.xlsx">
                        <i class="fa fa-link link" aria-hidden="true"></i><span class="text">CHOOSE FILE</span>
                    </label>
                </div>
                <div class="buttons">
                    <div class="SubmitBut">
                        <input class="but" type="submit" name="uploadXL" value="Participation Certificate">
                    </div>
                    <div class="SubmitBut">
                        <input class="but" type="submit" name="uploadXL" value="Merit Certificate">
                    </div>
                </div>
    </form>
    </section>
</div>
</div>
<div class="footer">
    Made with &nbsp;<div class="heart">
    <i class="fa fa-heart" aria-hidden="true"></i>
</div> &nbsp; by DVM.
</div>
<script src="/static/script.js"></script>
</body>

</html>