* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'Aldo the Apache';
    src: url('/static/Assets/AldotheApache.ttf');
}

@font-face {
    font-family: 'Square';
    src: url('/static/Assets/Square.ttf');
}

@font-face {
    font-family: 'Forgotten Futurist';
    src: url('/static/Assets/forgotten_futurist_rg.ttf');
}

body {
    background: url('/static/Assets/patrick-fore-mMcqMYJfopo-unsplash.jpg') center center / cover;
}

.nav {
    background-color: black;
    padding: 2rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem #e7ffd9;
}

.nav div img {
    width: 12rem;
}

.portalMain {
    width: 70vw;
    /* height: 75vh; */
    background-color: rgba(255, 255, 255, 0.85);
    margin: 2.5rem auto;
    border-radius: 0.4rem;
    padding: 2rem;
    box-shadow: 4px 1px 9px white;
}

.title {
    font-size: 4rem;
    font-family: 'Aldo the Apache', sans-serif;
    padding-top: 4rem;
    text-align: center;
    color: #051f40;
    border-bottom: #051f40 1px solid;
    /* text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 15px; */
}

.instructions {
    font-size: 3rem;
    font-family: 'Square', sans-serif;
    padding-left: 4rem;
    padding-top: 4rem;
    color: #004;
    /* border-bottom: #18166d 1px solid; */
    /* text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: #41489d;
    text-underline-offset: 1rem; */
}

.instruct {
    font-size: 2rem;
    font-family: 'Forgotten Futurist', sans-serif;
    font-weight: 100;
    padding-left: 8rem;
    padding-top: 1rem;
    color: #004;

}

.formBox {
    font-size: 1.2rem;
    font-family: 'Square', sans-serif;
    padding-top: 4rem;
    color: #004;
}

#upload {
    position: absolute;
    opacity: 0;
    left: -1000px;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.buttons {
    display: flex;
}

.certiForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: #fff;
    padding-left: 0.8rem;
}

.certiForm input[type=submit] {
    font-family: 'Square', serif;
    padding: 1rem 2rem;
    background: #3d3d3d;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    margin-inline: 1rem;
}

.certiForm input[type=submit]:hover {
    background-color: black;
}

#fileLabel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4b4a73;
    cursor: pointer;
    transition: .3s;
}

.template a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4b4a73;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: white;
    font-family: 'Square';
}

.template a:hover {
    background-color: #18166d;
}

.template {
    display: flex;
    justify-content: flex-end;
}

#fileLabel:hover {
    background-color: #18166d;
}

.footer {
    font-family: 'Montserrat', serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: #e7ffd9 1px solid;
}

.heart {
    display: inline;
    color: red;
}

.link {
    color: white;
}

@media (max-width: 1000px) {
    * {
        overflow: auto;
    }

    .title {
        font-size: 2em;
        padding-top: 0.7em;
    }

    .certiForm {
        flex-direction: column;
        overflow-x: hidden;
    }

    .instructions {
        font-size: 1.7em;
        padding-left: 1em;
    }

    .instruct {
        padding-left: 2rem;
        font-size: 1.1em;
    }

    .formBox {
        font-size: 0.65em;
        padding-top: 1.4em;
    }

    .template a {
        font-size: 0.7em;
        padding: 0.9em;
    }

    #fileLabel {
        padding: 0.9em;
        font-size: 0.8em;
    }

    .buttons {
        margin-top: 1.4em;
        flex-direction: column;
        align-items: center;
    }

    .certiForm input[type=submit] {
        padding: 0.8em;
        font-size: 1.1em;
        margin-top: 1em;
    }

    .template {
        justify-content: center;
    }

}